.App{
  margin: 15px;
  display: flex;
  flex-direction: row;
}

.button-add{
  user-select: none;
  cursor: pointer;
  color: #6B808C;
  min-width: 272px;
  background: #DFE3E6;
  height: 43px;
  line-height: 43px;  
  padding-left: .6rem;
  border-radius: 3px;
}

textarea{
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
  border-radius: 3px;
  border: 0;
  padding: 5px;  
  width: 263px;
  resize: none;
}

input{  
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
  border-radius: 3px;
  border: 0;
  padding: 5px;
  width: 263px;
}

button{
  cursor: pointer;
  background: #39C071;
  border-radius: 3px;
  border: 0;
  color: white;
  padding: 6px 11px;
}

button:disabled{
  opacity: .5;
}

.oi {
  cursor: pointer;
}

.oi-plus{  
  margin-right: 23px;
}

.flex-sb{
  display: flex;
  justify-content: space-between;
}